*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #e9e9e9;
}

.container{
  display: grid;
  grid-template-areas:
  "nav"
  "filtros"
  "main"
  "footer";

  min-height: 100vh;
}



.navbar{
  grid-area: nav;
  background: orchid;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu{
  display: none;
  list-style: none;
}

.hamburguesa{
  font-size: 22px;
}


.filtros{
  grid-area: filtros;
  background: #d8d8d8;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  gap: 10px;
}

.filtros select{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}



.productos{
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  gap: 20px;
}

.card{
  background: white;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  gap: 15px;

  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card button{
  background: orchid;
  color: white;

  border: none;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
}



.paginacion{
  display: flex;
}

.paginacion span{
  border: 1px solid #ccc;
  padding: 10px 15px;
  background: white;
}


.footer{
  grid-area: footer;

  background: orchid;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 20px;
}

.icons{
  display: flex;
  gap: 10px;
  font-size: 20px;
}



@media (min-width:576px){

.container{
  grid-template-columns: 220px 1fr;
  grid-template-areas:
  "nav filtros"
  "nav main"
  "footer main";
}



.navbar{
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburguesa{
  display: none;
}


.productos{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 250px;
}



.footer{
  height: 120px;
}

}